<?xml version="1.0" encoding="UTF-8"?>

<web-app>
<servlet>
<servlet-name>UserLogin</servlet-name>
<servlet-class>user.UserLogin</servlet-class>
</servlet>
<servlet-mapping>

<servlet-name>UserLogin</servlet-name>
<url-pattern>/userLogin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>com.admin.AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/xyz</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EmployeeLogin</servlet-name>
<servlet-class>com.employeeLogin.EmployeeLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EmployeeLogin</servlet-name>
<url-pattern>/abc</url-pattern>
</servlet-mapping>

</web-app>